# compiled output
**/lib
**/node_modules

# OS
.DS_Store

# Parcel
**/.parcel-cache
**/parcel-bundle-reports

# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
